
<h1 class="top">Twitterを用いたスパムシェアおよびリンククリックに関する実験</h1>
<a href="choice" class="btn-flat-border">実験開始</a>
<div class="border">
<li class="circle">この実験はTwitter連携を使いますが、書き込み・DM機能は使用しません。</li>
<li class="circle"><b>ある投稿があった時に、それをRT（リツイート）したいか・したくないかを選択してもらいます。</b></li>
<li class="circle">この実験で使用した情報は、研究以外の用途では使用しません。</li>
<li class="circle">実験の回答は利用することがありますが、名前は出しません。</li>
<li class="circle">この実験は前半・後半の合計２回に分けて行われます。</li>
<li class="circle">実験の回答は記録しますが、ユーザ情報等の個人情報は記録しません。</li>
<li class="circle"><b>「ツイートを更新する」を押して表示されるツイートは本アプリケーションにより生成されたものであり、架空の投稿です。
<span style="color:red;">実験の回答では、これらの類のツイートを「初めて見たとき」を想像し、回答してください。</span>（何回もやることで慣れることを防ぐため）</b></li>
<div/>
